.navbar{
    background-color: rgba(207, 192, 192, 0.76);
    color: rgb(211, 210, 210);
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-around;
    white-space: nowrap;
    overflow-x: auto;
    margin: 10px 0px;
}
.items{
    display: flex;
    width: 95%;
    justify-content: space-between;
    font-size: 19px;
    list-style-type: none;
    align-items: center;
    margin-bottom: 5px;
}
.nav-item a {
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: #000000;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: small;
}
.nav-item a:hover{
    color: #6e78d4;
    font-weight: 600;
    border: #6e78d4;
}